html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Poppins';
  scroll-behavior: smooth;
}

body{
  background-color: #F7F7FF;
}

span,p{
  font-size: 1.2rem;
  color: #323230;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button{
  outline: none;
  border: none;
  background-color: transparent;
  font-family: 'Roboto';
}

button{
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
